.container {
  min-height: 100vh;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 2rem;
  filter: invert(0);
  text-transform: capitalize;
  text-align:center;
}
.repo:hover {
  cursor: pointer;
}
.btn {
  height: 3rem;
  width: 13rem;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 1px 41px -8px white;
  &:hover {
    scale: 1.1;
    cursor: pointer;
  }
}
#btn {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
